}

.part1 {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

body {
  text-align: center;
  z-index: 20;
  color: #000;
  text-decoration: none;
}

.services {
  position: relative;
  text-align: center;
  color: white;
}

.ontop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

[class^="btn"] {
  width: 20px;
  display: block;
  padding: 4em;
  text-align: center;
}

#dsn {
  display: none;
}

#dev {
  display: none;
}

#mgt {
  display: none;
}

.row {
  width: 100%;
  overflow: hidden;
  margin: 22px;
  background: white;
}

#space {
  margin: 0px;
  background: white;
}

.contacts {
  position: relative;
  text-align: center;
  color: white;
}

.lenth {
  width: 100%
}

.portfolio {
  z-index: 10;
}

.hided:hover {
  z-index: 30;
}

.hided span.showd {
  display: none;
}

.hided:hover span.showd {
  position: absolute;
  display: block;
  font-size: 18px;
  top: auto;
  right: auto;
  border: 1px solid grey;
  background-color: white;
}

span.showbdOnHover {
  font-size: 16px;
  font-weight: normal;
  color: #444;
  line-height: 18px
}

span.fullname {
  display: none;
}

::placeholder {
  color: white;
}

#name {
  background: transparent;
}

#message {
  background: transparent;
}

#mail {
  background: transparent;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}