}

.part1 {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

body {
  text-align: center;
  width: 100%
}

.services {
  position: relative;
  text-align: center;
  color: white;
}

.ontop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#icon {
  margin: 0 auto;
  width: 2050px;
  height: 175px;
  margin-top: 89px;
}

.design {
  float: left;
  text-align: bottom-center;
  width: 100px;
  height: 85px;
  padding-left: 16em;
}

.row {
  width: 100%;
  overflow: hidden;
  margin: 22px;
  background: white;
}

#space {
  margin: 0px;
  background: white;
}

.contacts {
  position: relative;
  text-align: center;
}

.lenth {
  width: 100%
}